<div>
  <div>
    <p>質問一覧</P>
    <% @questions.each do |question| %>
      <div>
        <%= question.title %>
        <%= question.content %>
        <h2>回答</h2>
        <ul>
          <% (question.answers.all).each do |answer| %>
            <li><%= answer.content %>
          <% end %>
        </ul>
        <%= link_to("回答する", new_answer_path(question: question.id)) %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to("質問する", new_question_path) %>
  </div>
  <%= link_to("My質問", my_questions_path) %>
</div>