<div class = "container">
  <div class = "form-user">

    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>


      <div class = "field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </div>

      <div class = "field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </div>


      <div class = "button">
        <%= f.submit "ログイン" %>
      </div>

    <% end %>

    <p><%= link_to("パスワードを忘れましたか?", password_resets_new_path) %></p>
    <p> <%= link_to("ユーザー登録はまだですか？", signup_path) %></p>
   
  </div>
</div>



