
  <%= form_with(model: @user, local: true) do |f| %>
  <%= render "shared/error_message", object: f.object%>

    <%= f.label :name, "NAME" %>
    <%= f.text_field :name %>

    <%= f.label :email, "EMAIL" %>
    <%= f.email_field :email %>

    <%= f.label :password, "PASSWORD" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "PASSWORD CONFIRMATION" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "UPDATE" %>

  <% end %>


<p><%= link_to("DELETE USER", user_path(@user), method: :delete,
                data: {confirm: "ユーザーを削除しますか？"}) %></p>