<div>
  <%# ユーザー情報 %>
  <div class = "mt-10 border-b-4 border-gray-400">
    <ul class = "flex justify-end items-center">
      <li class = "text-4xl mr-4 pb-2"><%= @user.name %></li>
      <li class = "pr-2 text-2xl"><%= @user.posts.count %>積み上げ</li>
      <li class = "text-2xl"><%= @user.tsumiage_count %>日</li>
      <li class = "text-2xl ml-4"><%= @whole_total_hours%>時間<%= @whole_total_minutes %>分　継続</li>
    </ul>
  </div>

  <div class = "lg:flex mt-10">
    <%# 予定機能 %>
    <div>
      <%# 予定投稿フォーム%>
      <div class = "lg:w-4/5">
        <p class = "text-2xl mb-6"><%= @today %></p>
        <%= form_with(model: @schedule, local: true) do |f| %>
          <%= render "shared/error_message", object: f.object %>   
          <div class = "border-2 border-gray-400 ">
            開始時刻<%= f.time_field :start%> 終了時刻<%= f.time_field :finish%>
            <%= f.number_field :total_hours, class: "w-1/6" %>時間　<%= f.number_field :total_minutes, class: "w-1/6" %>分
          </div>
          <div><%= f.text_field :task, class: "border-2 border-gray-400  py-1 mb-4 mt-4 w-full ", :placeholder => "取り組む内容" %></div>
          <%= f.hidden_field :start_time, :value => @today %>
          <div><%= f.submit "予定を追加", class: "hover:bg-gray-700 hover:text-white bg-white border-solid border-gray-400 border-2 font-bold py-2 px-4 rounded md:text-2xl w-full " %></div>
        <% end %>
      </div>

      <%# 予定一覧 %>
      <div class = "mt-12">
        <% if @schedules %>
          <% @schedules.each do |schedule| %>
            <div class = "text-lg mb-4 flex lg:text-xl">
            <% unless schedule.achieved %>
              <span class = "mr-4 lg:mr-12"><%= schedule.start.strftime("%-H:%M") %> ~ <%= schedule.finish.strftime("%-H:%M") %></span>
              <span class = "mr-4"><%= schedule.total_hours %>時間 <%= schedule.total_minutes %>分</span>
              <span><%= schedule.task %></span>
              <button class = "ml-6"><%= button_to "達成", achieve_schedule_path(schedule: schedule), method: :post %></button>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class = "text-xl">
          <p class = "pt-6">目標　<%= @total_hours %>時間　<%= @total_minutes %>分</p>
          <p>達成　<%= @actual_total_hours %>時間　<%= @actual_total_minutes %>分
        </div>
      </div>
    </div>

    <%# 学習カレンダー %>
    <div class = "lg:w-2/5">
      <h1 class = "text-2xl mb-4">学習カレンダー</h1>
      <%= month_calendar events: @posts do |date,events| %>
        <%= date.day %>
          <div class = "flex justify-center">
            <% unless events.empty? %>
              <p class = "text-black-700 font-bold text-xl"><%= link_to "積", posts_of_the_day_path(created: date) %></p>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>
  


