<div class = "container">

  <div class = "profile">

    <div class = "profile-item">
      <p><%= @user.name %></p>
    </div>

    <div class = "profile-item">
      <p><%= @user.posts.count %>積み上げ</p>
    </div>

    <div class = "profile-item">
      <p><%= @user.tsumiage_count %>日継続</p>
    </div>

  </div>

  <%= render "layouts/calender" %>

  <div class = "latestPosts">

  <h1>最近の投稿</h1>
    <% @posts.first(8).each do |post| %>

      <p> <%= link_to(post.title, "#") %> </p> 
  
    <% end %>
  </div>

</div>


