  <div class = "my-6 border-b-4 border-gray-400">
    <h1 class = "text-xl md:text-5xl md:mb-5"><%= @user.name %></h1>
    <ul class = "flex items-center pb-2">
      <li class = "pr-2 md:text-2xl"><%= @user.posts.count %>積み上げ</li>
      <li class = "md:text-2xl"><%= @user.tsumiage_count %>日継続</li>
      <li class = "ml-auto mr-0"> <%= link_to new_post_path do %>
        <button class = "bg-transparent md:hover:bg-purple-600 text-purple-700 font-semibold md:hover:text-white py-2 px-4
         border-2 border-purple-600 md:hover:border-transparent rounded md:text-2xl md:w-60">積み上げる</button>
         <% end %></li>
    </ul>
  </div>

  <div class = "md:flex md:mt-10">

    <div class = "mb-4 md:w-2/5 md:mx-16">
      <h1 class = "text-xl md:text-3xl">学習カレンダー</h1>
      <%= month_calendar events: @posts do |date,events| %>
        <%= date.day %>
          <div>
            <% if !events.empty? %>
              積
            <% end %>
          </div>
        <% end %>
    </div>

    <div class = "md:ml-36">
      <h1 class = "text-xl mb-2 md:text-3xl">最近の投稿</h1>
      <div class = "md:mt-10">
        <% @posts.first(10).each do |post| %>
          <p class = "my-1 md:text-xl md:my-4"> <%= link_to(post.title, post_path(post.id), class: "link") %></p> 
        <% end %>
      </div>
    </div>

  </div>

  


