<div>
  <div class = "md:mt-12 mt-6 border-b-4 border-gray-400">
    <ul class = "flex justify-end items-center">
      <li class = "text-xl md:text-5xl md:mb-4 mr-8"><%= @user.name %></li>
      <li class = "pr-2 md:text-2xl"><%= @user.posts.count %>積み上げ</li>
      <li class = "md:text-2xl"><%= @user.tsumiage_count %>日継続</li>
    </ul>
  </div>

  <div class = "md:flex md:mt-10">
    <div class = "mb-4 lg:w-2/5 lg:mx-16">
      <%= month_calendar events: @posts do |date,events| %>
        <%= date.day %>
          <div class = "flex justify-center">
            <% unless events.empty? %>
              <p class = "text-purple-700 font-bold text-xl"><%= link_to "積", posts_path(created: date) %></p>
            <% end %>
          </div>
      <% end %>
    </div>

    <div class = "md:ml-36">
      <h1 class = "text-xl mb-2 md:text-3xl">最近の投稿</h1>
      <div class = "md:mt-10">
        <% @posts.first(10).each do |post| %>
          <p class = "my-1 md:text-xl md:my-4 hover:underline hover:text-purple-700"> <%= link_to(post.title, post_path(post.id)) %></p> 
        <% end %>
      </div>
    </div>
  </div>
</div>
  


