<div>  
  <h1>回答ページ</h1>
  <div>
    <h1><%= @question.title %></h1>
    <p><%= @question.content %></p>
  </div>
  <div>
    <%= form_with(model: @answer, local: true) do |f| %>
      <%= render "shared/error_message", object: f.object %>   
      <%= hidden_field_tag :question, @question.id %>
      <%= f.text_area :content,class: "border-2 border-gray-400 w-full h-56 my-4 xl:h-80", :placeholder => "質問への回答を記述してください" %>
      <%= f.submit "投稿", class: "bg-transparent md:hover:bg-purple-600 text-purple-700 font-semibold md:hover:text-white py-2 px-4 
      border-2 border-purple-600 md:hover:border-transparent rounded md:text-2xl w-full" %>
    <% end %>
  </div>
</div>