<div class = "container">

  <div class = "new-post">

    <%= form_with(model: @post, local: true) do |f| %>
    <%= render "shared/error_message", object: f.object %>

        <div class = "title-field">
          <%= f.text_field :title %>
        </div>

        <div class = "content-field">
          <%= f.text_area :content %>
        </div>

        <div class = "submit-button">
          <%= f.submit "更新" %>
        </div>

    <% end %>

  </div>

</div>

