<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<% if @search_posts %>
<div class="post-list">
  <% @search_posts.each do |post| %>
    <h2><%= post.title %></h2>
    <%= post.content %>
  <% end %>
</div>
<% end %>