<div class = "container">

  <%= form_with(model: @post, local: true) do |f| %>
      <%= render "shared/error_message", object: f.object %>

      <div class = "new-post">

        <div class = "title-field">
          <%= f.text_field :title, :placeholder => "タイトルを入力してください" %>
        </div>

        <div class = "content-field">
          <%= f.text_area :content, :placeholder => "自由に記述してください" %>
        </div>

        <div>
          <%= f.hidden_field :start_time, :value => Date.today %>
        </div>

        <div class = "submit-button">
          <%= f.submit "投稿" %>
        </div>

    </div>

  <% end %>

</div>

