<div class = "mt-10 lg:mx-60">

  <div class = "border-b-2 border-gray-600 pb-2">
    <h1 class = "text-xl pb-2 border-b-2 border-gray-600 md:text-2xl"><%= @post.title %></h1>
    <p class = "text-lg py-2"><%=safe_join(@post.content.split("\n"),tag(:br))%></p>   
    <p class = "text-gray-500 pt-4"><%= japanese_time(@post.created_at) %></p>
  </div>

  <div class = "flex justify-between mt-16 mx-4 mb-10">
    <%= button_to(post_path, method: :delete,data: { confirm: "削除しますか?" } ) do %>
      <button class = "bg-transparent md:hover:bg-red-600 text-red-700 font-semibold md:hover:text-white px-4
      border-2 border-red-600 md:hover:border-transparent rounded md:text-2xl w-32 md:w-60">削除</button>
    <% end %>

    <%= link_to(edit_post_path(@post.id)) do %>
      <button class = "bg-transparent md:hover:bg-purple-600 text-purple-700 font-semibold md:hover:text-white px-4
      border-2 border-purple-600 md:hover:border-transparent rounded md:text-2xl w-32 md:w-60">編集</button>
    <% end %>
  </div>

</div>