 <% if logged_in? %>
  <%# ユーザーがログイン中の場合 %>
  <h1 class = "title"><%= link_to("TSUMIAGE", current_user) %></h1>
  <ul>
    <li class = "header-item"><%= link_to("Profile", current_user) %>
    <li class = "header-item"><%= link_to("Posting", new_post_path) %>
    <li class = "header-item"><%= link_to("Settings", edit_user_path(current_user)) %>
    <li class = "header-item"><%= link_to("Log out", logout_path ,method: :delete) %>
    <li class = "header-item"><%= link_to("Calender", calender_path ) %>
    <li class = "header-item"><%= link_to("Search", search_path ) %>
  </ul>
 <% else %>
  <%# ログインしていない場合 %>
  <h1 class = "title"><%= link_to("TSUMIAGE", root_path) %></h1>
  <% end %>