<% if logged_in? %>
<%# ユーザーがログイン中の場合 %>
  <div class = "flex justify-between items-center">
    <h1 class = "text-3xl"><%= link_to("TSUMIAGE", current_user) %></h1>
    <div>
      <button onclick = toggleHidden()>
        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
        </svg>                       
      </button>
    </div>
  </div>

  <div id = "humburger" class = "hidden">
    <ul>
      <li class = "py-1"><%= link_to("プロフィール", current_user) %>
      <li class = "py-1"><%= link_to("積み上げる", new_post_path) %>
      <li class = "py-1"><%= link_to("検索", search_path ) %>
      <li class = "py-1"><%= link_to("設定", edit_user_path(current_user)) %>
      <li class = "py-1"><%= link_to("ログアウト", logout_path ,method: :delete) %>
      
    </ul>
  </div>
  <% else %>
    <%# ログインしていない場合 %>
    <div class = "flex justify-between items-center">
  <h1 class = "text-3xl"><%= link_to("TSUMIAGE",root_path) %></h1>
    <div>
      <button onclick = toggleHidden()>
        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
        </svg>                       
      </button>
    </div>
</div>
<div>
  <ul id = "humburger" class = "hidden">
    <li class = "header-item"><%= link_to("サインアップ", signup_path) %>
    <li class = "header-item"><%= link_to("ログイン", login_path) %>
  </ul>
</div>
  <% end %>
