<!DOCTYPE html>
<html>
  <head>
    <title>TsumiageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "container-fluid mx-auto  border-solid border-b-4 border-gray-700">
    <%# ランディングページとその他のページでヘッダー表示を変更する %>
    <% if request.path == '/' %>
    <%#ランディングページのヘッダー %>
      <%= render "layouts/root_header" %>
    <% else %>
    <%#その他のページのヘッダー %>
      <%= render "layouts/header" %>
    <% end %>
    </header>
    <%#フラッシュメッセージの表示 %>
    <%= render "shared/flash_message" %>
    <%= yield %>
    <script>
      humburger = document.getElementById("humburger");
      function toggleHidden() {
      humburger.classList.toggle("hidden");
      };
    </script>
  </body>
</html>
