<!DOCTYPE html>
<html>
  <head>
    <title>TsumiageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header class = "container-fluid mx-auto  border-solid border-b-4 border-gray-700 px-2">
    <div class = "flex justify-between items-center">
      <h1 class = "text-3xl md:text-5xl hover:underline hover:text-purple-700"><%= link_to("TSUMIAGE", current_user) %></h1>
      <div>
        <button class = "md:hidden" onclick = toggleHidden()>
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
          <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
          </svg>                       
        </button>
      </div>
    </div>
  
    <div id = "humburger" class = "hidden md:block">
      <ul class = "md:flex md:justify-end">
        <%# ログイン中か否かで表示を変更する %>
        <% if logged_in? %>
        <%#ログイン中 %>
          <li class = "py-1 md:px-3 md:text-xl hover:underline hover:text-purple-700"><%= link_to("プロフィール", current_user) %>
          <li class = "py-1 md:px-3 md:text-xl hover:underline hover:text-purple-700"><%= link_to("積み上げる", new_post_path) %>
          <li class = "py-1 md:px-3 md:text-xl hover:underline hover:text-purple-700"><%= link_to("検索", search_path ) %>
          <li class = "py-1 md:px-3 md:text-xl hover:underline hover:text-purple-700"><%= link_to("設定", edit_user_path(current_user)) %>
          <li class = "py-1 md:px-3 md:text-xl hover:text-red-400"><%= button_to("ログアウト", logout_path, class: "bg-white hover:underline", method: :delete) %>
        <% else %>
        <%#ログインしていない場合%> 
          <li class = "py-1 md:px-3 md:text-xl hover:underline hover:text-purple-700"><%= link_to("ユーザー登録", signup_path) %>
          <li class = "py-1 md:px-3 md:text-xl hover:underline hover:text-purple-700"><%= link_to("ログイン", login_path) %>
        <% end %>
      </ul>
    </div>
    </header>

    <%#フラッシュメッセージの表示 %>
    <%= render "shared/flash_message" %>
    <div class = "container-fluid mx-5 md:mx-28 ">
      <%= yield %>
    </div>
    <script>
      humburger = document.getElementById("humburger");
      function toggleHidden() {
      humburger.classList.toggle("hidden");
      };
    </script>
  </body>
</html>
