<!DOCTYPE html>
<html>
  <head>
    <title>TsumiageApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div id = "app">
      <header class = "container-fluid mx-auto mt-6 px-6 lg:px-16 lg:flex justify-between">
        <div class = "flex justify-between items-center">
          <h1 class = "text-3xl lg:text-5xl hover:underline "><%= link_to("TSUMIAGE", current_user) %></h1>
          <p class = "lg:block hidden">あ</p>
          <button class = "lg:hidden" @click="isOpen = !isOpen">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
            </svg>                       
          </button>
        </div>
      
        <div :class="isOpen ? 'block' : 'hidden'" class = "lg:block">
          <ul class = "lg:flex lg:justify-end">
            <%# ログイン中か否かで表示を変更する %>
            <% if logged_in? %>
            <%#ログイン中 %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("プロフィール", current_user) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("積み上げる", new_post_path) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("一覧", posts_path ) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("質問", questions_path) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("予定", schedule_path(current_user)) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("設定", edit_user_path(current_user)) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= button_to("ログアウト", logout_path, class: "bg-white hover:underline", method: :delete) %>
            <% else %>
            <%#ログインしていない場合%> 
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("ユーザー登録", signup_path) %>
              <li class = "py-1 lg:px-3 lg:text-xl hover:underline"><%= link_to("ログイン", login_path) %>
            <% end %>
          </ul>
        </div>
      </header>

      <%#フラッシュメッセージの表示 %>
      <%= render "shared/flash_message" %>
      <div class = "container-fluid mx-5 lg:mx-28 ">
        <%= yield %>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
  
      new Vue({
        el: "#app",
          data: {
            isOpen: false ,
            isIndicate: true,
            start_at: null,
            finish_at: null,
            isAnswerIndicate: false,
          },
          computed: {
          },
      })
    </script>
  </body>
</html>
